* {
  -webkit-print-color-adjust: exact;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

@media print {
  @page {
    size: 210mm 297mm; /* or size: 794px 1123px;   */
    size: 297mm 420mm; /* or size: 1123px 1588px;  */
  }
}

html,
body {
  /* width: 28cm; */
  overflow-x: hidden;
  font-weight: 340;
}

#root {
  padding: 32px;
  font-weight: 340;
}

#id-div-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

/* 主体 */

.area {
  margin-left: 40px;
  padding: 24px 0;
  /* border-top: 3px solid rgb(228, 228, 228); */
}

.area > h2 {
  position: relative;
  line-height: 30px;
}

.area > h2::before {
  content: " ";
  width: 8px;
  height: 100%;
  background-color: rgb(12, 175, 230);
  position: absolute;
  left: 0;
  transform: translateX(-15px);
}

.work-title {
  display: flex;
  justify-content: space-between;
}

.work-experience {
  margin: 16px 0;
}

.edu-title {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.work-container {
  margin-left: 16px;
}

.work-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px;
}

.work-responsible {
  margin-left: 16px;
}

.work-responsible > ul {
  /* color: rgb(12, 175, 230); */
  line-height: 24px;
  list-style: none;
  font-size: 14px;
}

.work-responsible li:before {
  content: "• ";
  color: rgb(12, 175, 230);
  font-size: 24px;
  /* background-color: rgb(12, 175, 230); */
  /* width: 8px; */
  /* height: 8px; */
  /* content: " "; */
  /* display: inline-block; */
  /* position: relative; */
  /* border-radius: 4px; */
  /* margin-right: 4px; */
  /* bottom: 2px; */
}

.work-description :first-child {
  font-weight: bold;
  font-size: 16px;
}
